[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pycodestyle = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
ipykernel = "*"
requests = "*"
geocoder = "*"
gunicorn = "*"
install = "*"
django-heroku = "*"
ratelimit = "*"
backoff = "*"
django-ipware = "*"
